@charset "UTF-8";

/* 로그인 폼 */
.log_form {
  width: 400px;
  margin: 30px auto;
}
.log_form > fieldset {
  border: none;
}
.log_form legend {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

/* 로그인 폼 입력 양식(공통) */
.log_id, .log_pw, #login, #signup {
  margin: 10px 0;
}
.log_id > label, .log_pw > label {
  display: none;
}
.log_form input {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 10px;
  font-size: 14px;
  border-radius: 5px;
}

/* 로그인 폼 입력 양식-입력 창 */
.log_id input, .log_pw input {
  border: 1px solid #ccc;
}
/* 로그인 폼 입력 양식-찾기 링크 */
.log_search {
  text-align: right;
  font-size: 14px;
  margin: 13px 0;
}
.log_search > a {
  padding: 0 5px;
}
.log_search > a:first-child::after {
  content: '';
  border-right: 1px solid #333;
  padding: 0 5px;
}
.log_search > a:last-child {
  padding-right: 0px;
}
/* 로그인 폼 입력 양식-로그인,가입 버튼 */
.log_form #login, .log_form #signup {
  cursor: pointer;
}
.log_form #login {
  border: none;
  background: #5F0080;
  color: #fff;
}
.log_form #signup {
  border: 2px solid #5F0080;
  color: #5F0080;
  background: #fff;
}

/* 입력결과 테스트 확인 */
.writeResult {
  width: 400px;
  margin: 8px auto;
  border: 1px solid #ededed;
  text-align: center;
  font-size: 14px;
  padding: 6px 0;
}